@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0.033 285.885);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9% 0.033 285.885);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9% 0.033 285.885);
  --color-primary: oklch(9% 0.04 285.823);
  --color-primary-foreground: oklch(98% 0.004 285.885);
  --color-secondary: oklch(96.1% 0.004 285.885);
  --color-secondary-foreground: oklch(9% 0.04 285.823);
  --color-muted: oklch(96.1% 0.004 285.885);
  --color-muted-foreground: oklch(46.9% 0.019 285.885);
  --color-accent: oklch(96.1% 0.004 285.885);
  --color-accent-foreground: oklch(9% 0.04 285.823);
  --color-destructive: oklch(60.2% 0.177 29.234);
  --color-destructive-foreground: oklch(98% 0.004 285.885);
  --color-border: oklch(91.4% 0.009 285.885);
  --color-input: oklch(91.4% 0.009 285.885);
  --color-ring: oklch(9% 0.033 285.885);
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}